<section>
    <div class="section-wrapper">

        <div class="intro-text-wrapper">

            <div class="slant-glass"></div>
            <h2>Delicious meals at
                your convenience</h2>
            <p id="para">Order your meals from us and we will have it delivered at your doorstep.</p>
            <div class="instant-order">
                <label for="instant-order">Instant Order</label>
                <input type="text" placeholder="Search for meal">
            </div>
            <button class="cta-btn">
                Get Started
            </button>
        </div>
        <div class="hero-plate">
            <div class="ellipse"></div>

            <img class="hero-plate-image" src="../../../assets/images/hero-plate.svg" alt="">
            <div class="large-hero-plate-wrap">

                <img class="large-hero-plate-image"  src="../../../assets/images/large-hero-plate.svg" alt="">
            </div>
            <div class="overlay-glass">
                <img src="../../../assets/icons/glass-overlay.svg" alt="">
            </div>

        </div>

    </div>
    <aside class="float-aside">
        <div class="float-icon">
            <img src="../../../assets/icons/message.svg" alt="">
        </div>
    
    </aside>
</section>
