<footer>
    <div class="footer-wrapper">
        <div class="logo">
            <div class="logo-image">
                <img src="../../../assets/icons/logo.svg" alt="logo" srcset="">
            </div>
            <h2>Meals</h2>
        </div>
        <div class="footer-links">
            <ul class="company">
                <label for="">Company</label>
                <li><a href="">Blog</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
            <ul class="services">
                <label for="">services</label>
                <li><a href="">FAQs</a></li>
                <li><a href="">Our Menu</a></li>
            </ul>
        </div>
        <div class="social-links">
            <a class="facebook s-media" href="https://www.facebook.com" ><img src="../../../assets/icons/facebook.svg" alt=""></a>
            <a class="instagram s-media" href="https://www.instagram.com"><img src="../../../assets/icons/instagram.svg" alt=""></a>
            <a class="twitter s-media" href="https://www.twitter.com"><img src="../../../assets/icons/twitter.svg" alt=""></a>
        </div>
        <div class="copy-right">
            © 2022 Meals. All rights reserved.
        </div>
    </div>
</footer>
