<header>
    <div class="header-wrapper">
        <a routerLink="">

            <div class="logo">
                <div class="logo-image">
                    <img src="../../../assets/icons/logo.svg" alt="logo">
                </div>
                <h2>Meals</h2>
            </div>
        </a>
        <nav>
            <ul>
                <li ><a  routerLink="/" routerLinkActive="active">Home</a>  </li>
                <li ><a  >Menu</a>  </li>
                <li ><a  >Meal Plans</a>  </li>
          
            </ul>
        </nav>
        <div class="cart-menu">
            <div class="search">
                <img src="../../../assets/icons/Vectorsearch.svg" alt="">
            </div>
            <div class="cart">
                <img src="../../../assets/icons/cart.svg" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/icons/menu.svg" alt="" (click)="OpenMenuBar()">
            </div>
        </div>
        <p class="sign-text">Sign in</p>
        <div class="button-wrap">
            <button>Create Account</button>
        </div>
    </div>
</header>