@use "../../../themes/config.scss" as config;


section {
    width: 100%;
}

.menu-section {
    width: 90%;
    margin: 0 auto;

    h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;

        letter-spacing: 0.0125em;
        text-transform: uppercase;
        color: #DA3743;
    }

    h1 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 132%;
        color: #041210;
    }

    .menu-tab {
        margin-bottom: 20px;

        .menu-tab-wrapper {
            border: 1px solid #EBEBEB;
            border-radius: 8px;
            display: grid;
            grid-auto-flow: column;
            padding-top: 4px;
            padding-bottom: 4px;


            li {
                list-style: none;
                text-align: center;
                display: grid;
                justify-items: center;
                align-items: center;

                span {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: #4D4D4D;

                    &.active {
                        display: grid;
                        padding: 4px 8px;
                        width: 33px;
                        height: 32px;
                        color: #fff;
                        background: #DA3743;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    .menu-item-container {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
        justify-content: space-between;
        gap: 10px;
    }

    aside {
        padding-top: 50px;
        padding-bottom: 80px;
        display: grid;
        place-items: center;

        .all-menu {
            background: #DA3743;
            border-radius: 30px;
            border: none;
            outline: none;
            padding: 14px 24px;
            color: #fff;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            cursor: pointer;
        }
    }

}

.testimony-section {
    background-color: #F9E1E3;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 0 100vmax #F9E1E3;
    clip-path: inset(0 -100vmax);
    padding-top: 40px;
    padding-bottom: 55px;

    h2 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 132%;
        color: #363A40;

        margin-bottom: 5px;
    }

    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: #67758D;
        margin-bottom: 40px;
    }

    .card {

        background: #FFFFFF;
        box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
        border-radius: 12px;
        padding: 24px;
        margin-bottom: 34px;

        .card-head {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            margin-bottom: 19px;

            .details {
                display: grid;

                .main-title {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                    color: #363A40;
                }

                .sub-title {

                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 160%;
                    letter-spacing: 0.0125em;
                    text-transform: uppercase;
                    color: #67758D;

                }
            }

        }

        .card-body {
            p {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 160%;
                color: #67758D;
                margin-bottom: 0;
                padding-bottom: 4px;

            }
        }
    }

    .card-tracker {
        display: flex;
        justify-content: center;
        column-gap: 10px;

        .dot {
            width: 8px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: #F1F1F1;

            &.active {
                background-color: #DA3743;
            }
        }
    }
}

.blog-section {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;  max-width: 1024px;
    width: 90%;
    margin: 0 auto;

    h1 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 132%;
        color: #030303;
    }

    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        color: #0A244E;
        width: 100%;
    }

    .blog-post-container {
        padding-top: 38px;
        display: grid;
        row-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@include config.media-lg {

    section {
        .menu-section {
            background-color: #FAFAFA;
            box-shadow: 0 0 0 100vmax #FAFAFA;
            clip-path: inset(0 -100vmax);
            padding-top: 30px;
            max-width: 1024px;

            h3 {
                margin-bottom: 16px;
            }

            .menu-text-tab {
                display: grid;
                grid-template-columns: 65% 35%;
            }

            .menu-tab {
                margin-bottom: 20px;


            }

            .menu-item-container {
                display: grid;
                grid-template-columns: repeat(3, minmax(164px, 1fr));
                justify-content: space-between;
                column-gap: 20px;
                row-gap: 40px;
            }

        }
    }

    .testimony-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1024px;
        justify-items: center;
        padding: 80px 80px;
        column-gap: 60px;




        .text {
            width: 20ch;
            // font-size: 42px;
            display: grid;
            justify-self: flex-end;
            align-content: center;
            // font-size: 2rem;
        }

        .card {
            position: relative;
            width: 657px;
            display: grid;
            column-gap: 35px;
            grid-template-columns: 20% 65%;
            padding-top: 40px;

            .card-head {
                grid-auto-flow: row;
                justify-content: center;
                justify-items: center;

                // margin-top: 30px;
               
                .profile {
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .details {
                    display: grid;
    
                    .main-title {
                       font-size: 24px;
                       font-weight: 700;
                       text-align: center   ;
                       line-height: 120%;
                       margin-top: 10px;
                       margin-bottom : 10px;
                    }
    
                    .sub-title {
    
                      text-align: center;
                      margin-bottom: 30px;
    
                    }
                }
                .quote {
                    position: absolute;
                    top: 34px;
                    right: 30px;
                }
            }

            .card-body {
                p {
                    margin-top: 30px;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.004em;
                }
            }
        }

        .card-tracker {
            grid-column-start: 2;
        }
    }
    .blog-section{
        h1{
            font-family: 'Hind Siliguri';
            font-size: 38px;
            font-weight: 600;
        }
        p{
            font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
width: 49ch;
text-align: center;
margin: 5px auto;

color: #0A244E;
        }
    }
}